@charset "utf-8";



/* ------------------------------------------------------------------- 
 * ## fonts
 * ------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kiwi+Maru:wght@300;400;500&family=Noto+Sans:wght@400;700&display=swap');

:root {
    --font-1: "Itim", "Kiwi Maru", sans-serif;
    --font-2: "Noto Sans","Kiwi Maru", sans-serif;

    /* monospace */
    --font-mono: monospace;
}


/* ------------------------------------------------------------------- 
 * ## colors 
 * ------------------------------------------------------------------- */
:root {
    --color-1: hsla(160, 100%, 25%, 1);
    --color-2: hsla(275, 23%, 28%, 1);
    --color-3: #3E3E3E;
    
    --color-1-light: hsla(160, 100%, 37%, 1);
    
    --color-body: #212529;;
    --color-blackboard: #114400;
    --color-bb-frame: #a60;
}

/* ------------------------------------------------------------------- 
 * ## basic
 * ------------------------------------------------------------------- */

:root {
    font-size: 18px;
}

body {    
    font-family: var(--font-1);
    line-height: 1.6;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: .1rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

p {
    
}

li h1, li h2, li h3, li h4, li h5, li h6, li .h1, li .h2, li .h3, li .h4, li .h5, li .h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
    :root {
        font-size: 16px;
    }
}


/* ------------------------------------------------------------------- 
 * ## link
 * ------------------------------------------------------------------- */

a {
    color: var(--color-1);
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    color: var(--color-1-light);
}

a:active {
    color: var(--color-1-light);
}

a img {
    border: none;
}


/* ------------------------------------------------------------------- 
 * ## button
 * ------------------------------------------------------------------- */

.button-border {
    position: relative;
    background-color:  var(--color-1-light);
    width: 75%;
    margin: auto;
    padding: 5px;
    border-radius: 65px;
    transition: 0.3s; 
}

.press-me {
    position: absolute;
    color: var(--color-1);
    width: 100%;
    opacity: 0;
    transition: 0.1s; 
}

.press-me h3 {
    position: absolute;
    font-size: 1.2rem;
    transform: rotate(-40deg);
    top: -50px;
    left: -40px;
    transition: 0.3s; 
}

.button-body{
    background-color: white;
    padding: 1rem;
    border-radius: 60px;
    transition: 0.3s; 
}

.button-body a {
    color:  var(--color-1);
    font-size: 1.5rem;
    text-align: center;
    display: block;
    transition: 0.3s; 
}

/*----- Hover Effect -----*/

.button-border:hover h3 {
    top: -60px;
    left: -60px;
    transition: 0.3s; 
}

.button-border:hover .press-me {
    opacity: 100;
    transition: 0.3s ease-in 0.05s; 
    animation: pressme 2s ease-in-out infinite;
}

.button-border:hover {
    transform: scale(1.1);
    background-color:  var(--color-1);
}

.button-border:hover .button-body {
    background-color:  var(--color-1-light);
}

.button-border:hover .button-body a {
    color: white;
}

/*----- Keyframe Animations -----*/

@keyframes pressme {
    0% {transform: scale(1);}
    25% {transform: scale(1.03);}
    50% {transform: scale(1);}
    75% {transform: scale(1.03);}
    100% {transform: scale(1);}
}

/*----- button-sm -----*/
.button-sm {
    display: inline-block;
    color:  var(--color-1);
    background-color: white;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: middle;
    border: medium solid  var(--color-1-light);
    border-radius: 30px;
    transition: 0.3s
}

.button-sm:hover {
    color: white;
    background-color:  var(--color-1-light);
    border: medium solid  var(--color-1);
    transform: scale(1.1);
}


/* ------------------------------------------------------------------- 
 * ## fade-up
 * ------------------------------------------------------------------- */

/*アニメーション前*/
.fade-up {
    transform: translateY(50px);
    opacity: 0;
    transition: all .6s ease-out;
}

/*トリガー発火で.showを付与しアニメーション*/
.fade-up.show {
    transform: translateY(0);
    opacity: 1;
}

.show .fade-up {
    transform: translateY(0);
    opacity: 1;
}

.show .fade-up:nth-last-child(2) {
    transition-delay: .4s;
}

.show .fade-up:nth-last-child(3) {
    transition-delay: .8s;
}

.show .fade-up:nth-last-child(4) {
    transition-delay: 1.2s;
}


/* ------------------------------------------------------------------- 
 * ## blackboard
 * ------------------------------------------------------------------- */

.blackboard {
    color: white;
    background-color: var(--color-blackboard);
    border: 9px solid var(--color-bb-frame);
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5), 2px 5px 10px rgba(0, 0, 0, 0.5) inset;
}

.point {
    color: #ffb1b3;
    font-weight: bold;
    border: 3px solid #ffb1b3;
}


/* ------------------------------------------------------------------- 
 * ## chalk line
 * ------------------------------------------------------------------- */

.chalk-line {
    padding: 0 1rem 8px 1rem;
    background-image: url(../images/chalk-line.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.chalk {
    color: red;
    padding-right: 1rem;
    animation: write 3s infinite both;
}

@keyframes write {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-20px) rotate(6deg);
  }
  30% {
    transform: translateX(10px) rotate(-6deg);
  }
  45% {
    transform: translateX(-10px) rotate(3.6deg);
  }
  60% {
    transform: translateX(6px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(1.2deg);
  }
}


/* ------------------------------------------------------------------- 
 * ## header
 * ------------------------------------------------------------------- */

#header {
    
}

.navbar {
    background-color: rgba(84, 45, 36, 0.9);
}

.header-logo img {
    height: 50px;
}

.nav-item a {
    font-size: 1.05rem;
    transition: all .3s;
    color: white;
}

.nav-item a:visited {
    color: white;
}

.nav-item a:hover {
    transform: scale(1.1) rotate(4deg);
}

.nav-item .active {
    color: wheat !important;
    background-color: transparent !important;
    transform: scale(1.5);
}

.cta {
    position: absolute;
    top: 105%;
    right: 2%;
}

.cta-home {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-item .active {
        color: wheat !important;
        background-color: transparent !important;
        transform: scale(1.1);
    }
    
    .cta a {
        font-size: 1rem;
        line-height: 1.2;
    }
}

@media screen and (max-width: 576px) {
    .cta a {
        font-size: .8rem;
    }
}


/* ------------------------------------------------------------------- 
 * ## home
 * ------------------------------------------------------------------- */

#home {
    color: white;
    background-color: var(--color-blackboard);
    border: 15px solid var(--color-bb-frame);
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5), 2px 5px 15px rgba(0, 0, 0, 0.5) inset;
    height: 1000px;
}


/* ----- home-logo ----- */
.home-logo {
    width: 37.50%;
}

.home-logo img {
    width: 100%;
    max-width: 720px;
    animation: puff-in-center .7s ease-in-out .3s both;
}


/* ----- home-top-left ----- */
.home-top-left {
    width: 27%;
    top: 25%;
    left: 16%;
    animation: puff-in-center .7s ease-in-out .5s both;
}

.home-top-left img {
    width: 100%;
    max-width: 400px;
/*    transform: rotate(-5deg);*/
    transition: 0.3s;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);
}

.pin {
    position: relative;
    display: inline-block;
    transform: rotate(-5deg);
    transition: 0.3s;
}

.pin:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 19%;
    background-image: url(../images/pin.png);
    background-size: contain;
    left: 55%;
    top: 0%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.pin:hover {
    transform: scale(1.1) rotate(-5deg);
}

.latest-cloud {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.event-cloud:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 70%;
    height: 64%;
    background-image: url(../images/event-cloud.svg);
    background-size: contain;
    left: 130%;
    top: 30%;
    transform: translate(-50%, -50%) rotate(5deg);
}

.btn-apply {
    position: absolute;
    display: inline-block;
    width: 120%;
    top: 80%;
    left: -6%;
    transform: rotate(-5deg);
}

.home-top-left:hover .pin {
    transform: scale(1.1) rotate(-5deg);
}


/* ----- home-top-right ----- */
.home-top-right {
    width: 25%;
    top: 25%;
    left: 84%;
    animation: puff-in-center .7s ease-in-out .7s both;
}

.home-top-right img {
    width: 100%;
    max-width: 400px;
    transform: rotate(8deg);
    transition: 0.3s;
/*    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);*/
}

.home-top-right img:hover {
    transform: scale(1.1) rotate(8deg);
}


/* ----- home-bottom-left ----- */
.home-bottom-left {
    width: 27%;
    top: 75%;
    left: 17%;
    animation: puff-in-center .7s ease-in-out .9s both;
}

.home-bottom-left img {
    width: 100%;
    max-width: 350px;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);
}

.home-bottom-left h2, .home-bottom-left h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 1%;
}

.tape {
    position: relative;
    display: inline-block;
    transform: rotate(5deg);
    transition: 0.3s;
}

.tape:before, .tape:after {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 10%;
    z-index: 100;
    background: rgba(255,192,203,0.7);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.tape:before {
    left: 4%;
    top: 22%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.tape:after {
    right: -36%;
    top: 22%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.tape:hover {
    transform: scale(1.1) rotate(5deg);
}


/* ----- home-bottom-right ----- */
.home-bottom-right {
    width: 35%;
    top: 75%;
    left: 81%;
    animation: puff-in-center .7s ease-in-out 1.1s both;
}

.home-bottom-right img {
    width: 100%;
    max-width: 600px;
    transition: 0.3s;
/*    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);*/
}

.home-bottom-right img:hover {
    transform: scale(1.1);
}


/* ----- animation ----- */
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}


/* ----- responsive ----- */
@media screen and (max-width: 992px) {
    .home-logo {
        width: 50%;
    }
    
    .home-top-left {
        width: 35%;
        top: 18%;
        left: 23%;
    }
    
    .home-top-right {
        width: 37%;
        top: 20%;
        left: 78%;
    }
    
    .home-bottom-left {
        width: 33%;
        top: 78%;
        left: 22%;
    }
    
    .tape:before {
        left: 3%;
        top: 21%;
    }
    
    .tape:after {
        right: -37%;
        top: 21%;
    }
    
    .home-bottom-right {
        width: 46%;
        top: 80%;
        left: 76%;
    }
}

@media screen and (max-width: 576px) {
    .home-logo {
        width: 75%;
        top: 75px !important;
        transform: translateX(-50%) !important;
    }
    
    .home-top-left {
        width: 50%;
        top: 43%;
        left: 27%;
    }
    
    .home-top-right {
        width: 45%;
        top: 60%;
        left: 75%;
    }
    
    .home-bottom-left {
        width: 45%;
        top: 74%;
        left: 28%;
    }
    
    .home-bottom-right {
        width: 55%;
        top: 89%;
        left: 73%;
    }
}


/* ------------------------------------------------------------------- 
 * ## about
 * ------------------------------------------------------------------- */

#about {
    padding: 10rem 0 5rem 0;
}

#about h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
}

#about p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 1.2rem 0;
}

#about li {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-blackboard);
}

@media screen and (max-width: 768px) {
    #about {
        padding: 5rem 0 2rem 0;
    }

}

/* ------------------------------------------------------------------- 
 * ## event
 * ------------------------------------------------------------------- */

#event {
    padding: 10rem 0 5rem 0;
}

#event h2:before {
    content: "\f005" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 1rem;
}

#event h2:after {
    content: "\f005" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-left: 1rem;
}

#event h3 {
    color: var(--color-body);
}

.event-item {
    transition: all .3s;
}

.event-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5)!important;
}

.event-item h3 {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    #event {
        padding: 5rem 0 2rem 0;
    }

}

/* ------------------------------------------------------------------- 
 * ## blog
 * ------------------------------------------------------------------- */

#blog {
    padding: 10rem 0 5rem 0;
}

#blog h2:before {
    content: "\f02e" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 1rem;
}

#blog h2:after {
    content: "\f02e" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 1rem;
}

#blog h3 {
    color: var(--color-body);
}

.blog-item {
/*    display: block;*/
    transition: all .3s;
}

.blog-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5)!important;
}

.blog-item h3 {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    #blog {
        padding: 5rem 0 2rem 0;
    }

}

/* ------------------------------------------------------------------- 
 * ## contact
 * ------------------------------------------------------------------- */

#contact {
    padding-top: 10rem;
}

#contact h2:before {
    content: "\f1d8" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 1rem;
}

#contact h2:after {
    content: "\f1d8" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-left: 1rem;
}

.sns {
    list-style: none;
    font-size: 5rem;
}

.sns a {
    transition: all .1s;
}

.sns i {
    transition: all .3s;
}

.sns i:hover {
    transform: scale(1.1) rotate(3deg);
}

@media screen and (max-width: 768px) {
    #contact {
        padding-top: 5rem;
    }

}

/* ------------------------------------------------------------------- 
 * ## footer
 * ------------------------------------------------------------------- */

#footer {
    
}


/* ------------------------------------------------------------------- 
 * ## sidebar
 * ------------------------------------------------------------------- */

#sidebar {
    padding: 5rem 0 5rem 6%;
}

.sidebar-sticky {
    position: sticky;
    top: 100px;
}

.sidebar-item {
    transition: all .3s;
}

.sidebar-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5)!important;
}

.sidebar-latest-blog p {
    line-height: 1.1;
}

@media screen and (max-width: 992px) {
    #sidebar {
        padding: 0;
        margin: 0 0 5rem 0;
    }
    
    .sidebar-latest-blog p {
        font-size: 1.5rem;
        line-height: 1.3;
    }
}

@media screen and (max-width: 768px) {
    
}


/* ------------------------------------------------------------------- 
 * ## blog content
 * ------------------------------------------------------------------- */

.blog-content {
    padding: 5rem 0 5rem 0;
}

.blog-post {
    margin-bottom: 4rem;
    padding: 3rem 0 3rem 0;
    border-bottom: thick solid #737474;
}

.blog-post-header {
    margin: 0 0 3rem 0;
    padding: 0 3rem 0 3rem;
    border-bottom: thick solid #737474;
}

.blog-post-header p {
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-post-dete:before {
    content: "\f303" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: .5rem;
}

.blog-post-thumb img {
    width: 100%;
}

.blog-post h2 {
    padding: 0 0 8px 0;
    background-image: url(../images/chalk-line.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.blog-post p {
    font-family: var(--font-2);
}


/* ------------------------------------------------------------------- 
 * ## post-nav
 * ------------------------------------------------------------------- */

.post-nav-item {
    transition: all .3s;
}

.post-nav-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5)!important;
}


/* ------------------------------------------------------------------- 
 * ## post-nav
 * ------------------------------------------------------------------- */

.event-post-dete:before {
    content: "\f073" ;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: .5rem;
}